TELEGRAM_BOT_TOKEN=8916778627:AAEF-5GM3uRh4xoJWwm3l1UcOevGV9EA6EM
TELEGRAM_ADMIN_ID=8271446629
ALERTS_ENABLED=true
CPU_ALERT_LIMIT=85
RAM_ALERT_LIMIT=85
DISK_ALERT_LIMIT=90
ALERT_INTERVAL_SECONDS=60
ALLOWED_PATHS=/var/www,/home,/root/projects
NODE_ENV=development
